.site_header {
    height: 50vh;
    @include background_gradient($start_color, $end_color);
    display: flex;
    flex-direction: column;
    
    margin-bottom: 2rem;
    
    h1 {
        font-size: 11.6rem;
        color: #ffffff;
        font-family: $font_montserrat;
        align-self: center;
        margin: {
            top:auto;
            bottom: 0;
        }
    }
    
    h2 {
        font-size: 2.1rem;
        color: #ffffff;
        align-self: center;
        margin-bottom: auto;
        font-family: $font_roboto;
        letter-spacing: .4rem;
    }
}

nav {
    width: 80vw;
    margin: {
        left: auto;
        right: auto;
    }
    
    ul {
        width: 50%;
        margin: {
            left: auto;
            right: auto;
        }
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        li {
            text-align: center;
            text-transform: uppercase;
            font-size: 1.2rem;
            font-family: $font_montserrat;
            letter-spacing: .2rem;
            color: $font_purple;
            padding: 1rem;
        }
    }
}
